/* 
	Variables
	------------------------------------------------
*/

//FONTS
$icon-font : 'fcicon';
$title-font : 'Roboto', sans-serif;
$body-font : 'Roboto Condensed', sans-serif;

//COLORS
$primary : #F5F5F5;
$blue : #001444;
$grey : #7C859B;

//SCREEN
$md : 1150px;             